$ErrorActionPreference = 'Stop'

$packageArgs = @{
  packageName    = 'gitside'
  fileType       = 'msi'
  silentArgs     = '/qn /norestart'
  validExitCodes = @(0, 1641, 3010)
  url64bit       = 'https://github.com/dev-bhaskar8/gitside/releases/download/v__VERSION__/gitside-x86_64-pc-windows-msvc.msi'
  checksum64     = '__X64_MSI_SHA256__'
  checksumType64 = 'sha256'
}

if (Get-OSArchitectureWidth -eq 32) {
  throw 'Gitside supports only 64-bit Windows.'
}

if ($env:PROCESSOR_ARCHITECTURE -eq 'ARM64') {
  $packageArgs.url64bit = 'https://github.com/dev-bhaskar8/gitside/releases/download/v__VERSION__/gitside-aarch64-pc-windows-msvc.msi'
  $packageArgs.checksum64 = '__ARM64_MSI_SHA256__'
}

Install-ChocolateyPackage @packageArgs
